<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/items/insert" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id">
    商品名称<input type="text" name="name"><br>
    商品定价<input type="text" name="price"><br>
    商品描述<input type="text" name="detail"><br>6
    商品图片<input type="file" name="file"><br>
    生产日期<input type="date" name="createtime"><br>
    <input type="submit" value="添加">
</form>

</body>
</html>